extends layout

block content
  .row.justify-content-center.mt-5
    .col-md-6.text-center
      h2.mb-3 You've been signed out
      p.text-muted.mb-4 See you next time.
      a.btn.btn-primary(href=loginUrl) Sign in again
